.droparea-wrapper{
    display:flex;
    flex-direction: column;
    gap: .75rem;
    height: 4.94rem;


    & .dropzone{
        display: flex;
    
            & input{
                all: unset;
                position: relative;
                appearance: none;
                width: 0;
                height: 0;
            }
        
        & label {
            inset:0;
            display: inline-block;
            position: relative;
            cursor: pointer;
            vertical-align: middle;
            width: 7.43rem;
            height: 2.5rem;
            background-color: var(--shape-button);
            border-radius: .5rem;
            color: var(--text-heading);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            padding: .5rem;

            & img{
                width: 1rem;
                height: 1rem;
            }
        }

        & p{
            margin: .5rem .75rem;
            font: var(--body-md);
            color: var(--input-placeholder);
        }
    }
}