input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    color: var(--text-heading);

    padding: .6rem 1rem;

    font: var(--body-md);
    background-color: var(--input-base);
}

label {
    font: var(--body-sm);
    color: var(--text-body);
}

.input-wrapper {
    gap:.75rem;

    & input[type="text"],
    & input[type="datetime-local"]{
        height: 3rem;
    }

    & textarea{
        height: 8.5rem;
    }
}

input[type="datetime-local"]::-webkit-datetime-edit{
    color: var(--input-placeholder);
    font: var(--body-md);
    
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}