*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --font-family-baloo:"Baloo 2", sans-serif;
    --heading-md: 700 1.75rem var(--font-family-baloo);
    --heading-sm: 700 1.125rem var(--font-family-baloo);

    --font-family-sans:"Open Sans", sans-serif;
    --body-md: 400 1rem var(--font-family-sans);
    --body-sm: 400 .875rem var(--font-family-sans);
    --body-xs: 400 .75rem var(--font-family-sans);


    --brand-light: #59b2ff;
    --brand-mid: #3487cf;
    --brand-dark: #1d6fb6;

    --text-error: #ff5959;

    --input-base: #1c1f21;
    --input-stroke: #363b40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2d3136;
    --shape-hover: #383d42;

    --text-body: #c8cdd0;
    --text-heading: #f9f9f9;
}

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 35rem;

    & .input-wrapper{
        flex:1;
    }
}

.input-wrapper{

    & input:hover,
    & select:hover,
    & textarea:hover,
    & input[type=datetime]:hover{
    border: 2px solid var(--brand-light);}
}


#blue{
    background-color: var(--brand-light);
}

#navy{
    background-color: #6A59FF;
}

#purple{
    background-color: #B259FF;
}

#fuschia{
    background-color: #FF59F9;
}

#pink{
    background-color: #FF598B;
}

#red{
    background-color: var(--text-error);
}

#orange{
    background-color: #FF8B59;
}

#yellow{
    background-color: #FFCD59;
}

#lime{
    background-color: #E1FF59;
}

#green{
    background-color: #59FF91;
}

#cyan{
    background-color: #59FFF9;
}

.gap-28 {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

#flex{
    display: flex;
    align-items: center;
    gap: .75rem;

    & .legend {
        font: var(--body-sm);
        color: var(--text-heading);
    }
}

.flex-1{
    flex:1;

    & .input-wrapper{
        height: 4.94rem;
    }
}

.flex-2{
    flex: 2;
}